{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Coffeed</title>
	
		<link rel="stylesheet" href="{% static "css/style.css" %}">


	</head>

	<body>

		<div class="container">
			<!-- START HERE --> 

			<h1>Hi, we’re Coffeed.</h1>
			<h2>We help you find great coffee shops to work from.</h2>

			<p>In a world filled with freelancers, entrepreneurs and flexible schedules, finding a coffee shop with the essentials can be hard. Let us do the legwork. We find the best coffee shops with the best wifi, outlets, bathrooms and ample seating — and let’s not forget great coffee. Sign up to be the first to get updates &amp; follow us on social media.</p>

			<p>Email us now for a PDF of the Top 10 Coffee Shops in NYC: <a mailto:"hello@getcoffeed.com">hello@getcoffeed.com</a></p>

			<a href="https://twitter.com/getcoffeed" target="_blank">
				<img src="{% static "images/twitter.png" %}" alt="Twitter">
			</a>

			<a href="https://www.facebook.com/getcoffeed" target="_blank">
				<img src="{% static "images/facebook.png" %}" alt="Facebook">
			</a>
			
			<!-- END HERE --> 
		</div><!-- .container --> 

	</body>
</html>